<!DOCTYPE html>
<html>
  <head>
    <title><%= actor_info[0]["name"] %></title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/home.css">
  </head>

  <body>


    <h1><%= actor_info[0]["name"] %></h1>

    <table id="titles">
      <tr>
        <td><strong>Movie Title</strong></td>
        <td><strong>Character</strong></td>
      </tr>
      <% actor_info.each do |hash| %>
        <% if hash["character"] == nil %>
          <tr>
            <td><a href="/movies/<%= hash['title'] %>"><%= hash["title"] %></a></td>
            <td>Info Not Available</td>
          </tr>
        <% else %>
          <tr>
            <td><a href="/movies/<%= hash['movie_id'] %>"><%= hash["title"] %></a></td>
            <td><%= hash["character"] %></td>
          </tr>
        <% end %>
      <% end %>
    </table>

    <br>

    <div><a href="/movies">Home</a></div>
  </body>
</html>
